<p style="color: green"><%= notice %></p>


<h1>Produtos</h1>

<% content_for :title, "Produtos" %>

<%= link_to "Novo produto", new_product_path, class: 'btn btn-primary my-2' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Marca</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

  <% @products.each do |product| %>
    <%= render 'table_row', product: product %>
  <% end %>
  </tbody>
</table>
