<tr>
  <th scope="row"><%= sale.id %></th>
  <td><%= sale.product.name %></td>
  <td><%= sale.quantity %></td>
  <td style="display: flex;">
    <%= link_to  '<i class="bi bi-cash-coin"></i>'.html_safe, edit_sale_path(sale), class: 'btn btn-warning mx-1', title: 'Ir para pagamento', data: { bs_toggle: "modal", bs_target: "#exampleModal" }   %>
  </td>
</tr>
